body {
    margin: 0px;
}
.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#C5AA6A;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 2px 2px 2px gray;
}
.navigation>li a{
    text-align: center;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding: 25px;
    margin: 0px;
    text-decoration: none;
    color: black;
}
.navigation>li {
    float: left;
}
.navigation>li a:hover {
    background-color: #89764a;
}
.navigation>li a.active {
    background-color: #9d8854;
}

.tools>ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#C5AA6A;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 2px 2px 2px gray;
}
.tools>ul li {
    text-align: center;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 25px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

.fa {
    font-size: 100%;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

[class*="col-"] {
    width: 100%;
  }